<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hibiscus</title>
    <link rel="stylesheet" href="style.css">
    <link <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
    <div class="container">
         <div class="navbar">
            <div class="logo">
                <img src="/static/images/logo.png" width="125px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Account</a></li>
                </ul>
            </nav>
            <img src="/static/images/cart.png" width="30px" height="30px">
            <img src="/static/images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Disfruta de tus vacaciones<br> con nuestros atuendos</h1>
                <p>Descansar de vez en cuando es justo y necesario <br>para nuestra
                salud mental y física.</p>
                <a href ="" class="btn">Navega en nuestra página &#8594;</a>
            </div>
            <div class="col-2">
                <img src="/static/images/images1.png"
            </div>
        </div>
    </div>
    </div>

    <!-------- featured categories------>
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="/static/images/cover.png">
                </div>
                <div class="col-3">
                    <img src="/static/images/falda.png">
                </div>
                <div class="col-3">
                    <img src="/static/images/manta.png">
                </div>
            </div>
        </div>

    </div>
    <!-------- featured products------>
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="/static/images/bikini_dye.png">
                <h4> Tie Dye Bikini</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$25.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/biki_lines.png">
                <h4> Tie Dye Bikini</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/bikini_black.png">
                <h4> Tie Dye Bikini</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$15.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/bikini_shorts.png">
                <h4> Tie Dye Bikini</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$30.00</p>
            </div>
        </div>
        <h2 class="title">Lastest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="/static/images/entero_negro.png">
                <h4> Tie Dye Bikini</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$25.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/manta_azul.png">
                <h4> Tie Dye Bikini</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/entero.png">
                <h4> Tie Dye Bikini</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$15.00</p>
            </div>
            <div class="col-4">
                <img src="/static/images/kimono.png">
                <h4> Tie Dye Bikini</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$30.00</p>
            </div>
        </div>
    </div>
    <!-------- offer------>
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-4">
                    <img src="/static/images/bikini_aro.png" class="offer-img">
                </div>
                <div class="col-4">
                    <p>Únicamente disponible en Hibiscus<p>
                    <h1> Bikini con aro</h1>
                    <small> Este conjunto de bikini contiene el top con aro con falda de leopardo.</small>
                    <a href="" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!------footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Busca tu prenda favorita</h3>
                    <p>Elige tu ropa favorita en nuestra página o en redes sociales</p>
                 </div>
                 <div class="footer-col-2">
                    <img src="/static/images/logo.png">
                    <p>Entregas en Centros Comerciales y zonas de cobertura</p>
                 </div>
                 <div class="footer-col-3">
                    <h3>Síguenos</h3>
                    <ul>
                        <li>Instagram</li>
                        <li>Facebook</li>
                        <li>Twitter</li>
                    </ul>
                 </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - Hibiscus and Easy Tutorials</p>
        </div>
    </div>

<!--js for toggle menu-->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if (MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight ="200px";
            }
            else
            {
                MenuItems.style.maxHeight="0px" ;
            }
        }
    </script>
</body>

</html>